/Robot2012/nbproject/private/
/Robot2012/build/
/WheelSpeedCalibration/nbproject/private/
/WheelSpeedCalibration/build/
/WheelSpeedCalibration/dist/
.DS_Store
/CustomDashboard/.DS_Store
/GyroProject/.DS_Store
/Robot2012/.DS_Store
/Robot2013-2012/.DS_Store
/Robot2013/.DS_Store
/Robot2013/nbproject/private/
/Robot2014-Frisbee/.DS_Store
/Robot2014-Frisbee/build/
/Robot2014-Frisbee/nbproject/private/
/Robot2014-mule/.DS_Store
/Robot2014-mule/build/
/Robot2014-mule/nbproject/private/
/Robot2014-nonaem/.DS_Store
/Robot2014-nonaem/nbproject/private/
/RobotUtil/.DS_Store
/WheelSpeedCalibration/.DS_Store
/scouting2014/.DS_Store
/scouting2014/build/
/scouting2014/dist/
/wpilibj.project/.DS_Store
/Robot2014-nonaem/build/